extends layout

block content
    script(src='/javascripts/gameview.js')
    script(src='https://raw.github.com/rdio/jquery.rdio.js/master/jquery.rdio.js')
  
    .container-fluid
      .row-fluid
        span.span4
        span.span3
          div
            h1.dom-heading1 #{theme}
        span.span4
      .row-fluid
        each song, i in songs 
          span.span2
            .div-1
              h4.dom-heading #{song.name}
              h4.dom-heading
                | #{song.artist}
                div
                  br
              button.btn.btn-1.btn-2.playbutton(id=song.id) Play
              button.btn.btn-2.btn-3 Submit
          