extends layout

block content
    div(id="absolute-wrapper")
      img(src="http://3.bp.blogspot.com/_yvHgvTKuzxM/TIgJ3qsKHwI/AAAAAAAAACo/JEbqu25zh3k/s1600/ws_House_Party_1152.jpg", class="image")

    div.span4(id="loginjade")
      form.form-horizontal(Style="position: absolute;top: 231px;left: 900px;")
        div.group-control
          label.control-label(for='inputUsername', Style='color:white') Username
          div.controls
            input.input-small(type="text",id="inputUsername", placeholder="username")
        div.control-group
          label.control-label(for='inputPassword', Style='color:white') Password
          div.controls
            input.input-small(type="password", id='inputPassword', placeholder="password")
        
        div.control-group
          div.controls
            a.btn.btn-info(id='login', havefun="shane") Login
    div(id="song")