/* Set floating dom-heading margins to 0 */
[class*="dom-heading"] {
  margin: 0;
}
#absolute-wrapper {
  position: relative;
  width: 980px;
  margin: 0 auto;
  height: 1px;
}
#absolute-wrapper .image {
  opacity: 0.6;
  width: 1152px;
  height: 825px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:-1;
}

.dom-heading1 {
  font-family:"Arial";
  padding: 20px 0px 0px 0px;
  text-align: center;
}
.container-fluid {
  padding: 0px 20px 0px 50px;
  margin-top: 100px;
  height: 440px;
}
.container-fluid .row-fluid .span4 {
  height: 200px;
}
.container-fluid .row-fluid .span3 {
  height: 200px;
}
.container-fluid .row-fluid .span3 div {
  background: rgba(30, 199, 196, 0.431373);
  border-radius: 20px;
  height: 100px;
}
.container-fluid .row-fluid .span3 div .dom-heading {
  font-family:"Arial";
  padding: 20px 0px 0px 0px;
}
.container-fluid .row-fluid .span2 div.div-1 {
  background: rgba(59, 109, 139, 0.498039);
  border-radius: 5px;
  height: 160px;
}
.container-fluid .row-fluid .span2 .div-1 .dom-heading {
  font-family:"Arial";
  text-align: center;
}
.container-fluid .row-fluid .span2 .div-1 .btn.btn-1 {
  margin: 0px 0px 0px 35px;
}
.container-fluid .row-fluid .span2 .div-1 .btn.btn-2 {
  height: 30px;
}
.container-fluid .row-fluid .span2 .div-1 .btn.btn-3 {
  margin: 2px 0px 0px 35px;
}